* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

p{
    font-size: 15px;
    line-height: 1.5em;
    color: rgb(88, 88, 88);
}

h2,h4{
    color: rgb(88, 88, 88);
}

h5{
    color:#235d93;
}

i{
    color:#235d93;
}

body, html{
    background-color: #d2d9de;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.page-container{
    margin-left: auto;
    margin-right: auto;
    padding:10px;
}

.oneThird{
    background-color: rgb(248, 248, 248);
    width: 100%;
    float:left;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0 0 8px rgb(100, 100, 100);
}

.oneThird-headshot{
    position: relative;
    text-align: center;
    border-radius: 5px;
}

#headshotID{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.oneThird-headshot-text{
    font-size: 28px;
    color: rgb(35, 35, 35);
    position: absolute;
    bottom: 5px;
    left: 16px;
    background-color: rgb(255, 255, 255,.5);
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 30px
}

.twoThird{
    background-color: rgb(248, 248, 248);
    width: 100%;
    float:left;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 8px rgb(100, 100, 100);
}

.oneThird-Content, 
.twoThird-Content{
    margin-left: 10px;
    margin-right: 10px;
}


footer i{
    color: white;  
    font-size: 1.5em !important;
}

footer p{
    color: white;
}

footer i:hover{
    color: rgb(0, 58, 97);
}


.footer-block{
    text-align: center;
    background-color: steelblue;
    color: white;
    float: left;
    width: 100%;
}

@media  (max-width:1027px) {
    .oneThird{
        width:100%;
        display:inline-table;
        margin-bottom: 20px;

    }
    .twoThird{
        width:100%;
        display: inline-table;
        margin-bottom: 20px;
    }
}

@media (min-width:1028px){

    .oneThird{width:32%}
    .twoThird{width:66%}
    
}