*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #999999;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #505050;
  }

.btn{
    background-color: #005d93; /* Blue background */
    border: none; 
    color: white; 
    padding: 12px 16px; 
    cursor: pointer; 
    border-radius: 30%;
    font-size: 16px;
    margin-right: auto;
    margin-left: 8px;
    margin-top: 50px;
}

.btn:hover{
    background-color: rgb(122, 189, 255);
    color: black;
}

.welcome-today,
.welcome-date{
    height:2vh;
    align-items: center;
    justify-content: space-around;
    display: flex;
    padding: 8px;
    margin-top: 8px;
    font-size: 22px;
    text-align: center;
}
  
.location,
.temperature {
    height: 25vh;
    width: 30%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
  
.degree-section {
    display: flex;
    align-items: center;
    margin-top: -10px;
}
  
.degree-section span {
    margin-bottom: 10px;
    font-size: 40px;
}
  
.degree-section h2 {
    font-size: 40px;
}

.temperature {
    flex-direction: column;
}
  
.temperature-description {
    font-size: 24px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 5px;
}

.circles-parent { 
    text-align:center; 
    line-height: 50px;
}
.circle{ 
    margin-bottom: 10px;
    height: 60px;
    width: 70px;
    background: ghostwhite; 
    border-radius:30%; 
    display:inline-block; 
    border:1px solid darkgrey; 
}

.refs{
    margin-top: auto;
    margin-bottom: 5px;
    font-size: 12px;
    text-align: left;
    margin-right: auto;
}
